<main>
    {{> header}}
    <h1>Hello o</h1>


    <form action="/result/lga" method="post">
        <select name="lga_id" id="lga_id" >
            <option value="">Select Local Government</option>
            <option value="10">Isoko South</option>
            <option value="6">Ethiope West</option>
            <option value="34">Warri South</option>
        </select>
        <button>Get Info</button>
    </form>
</main>