<main>
    {{> header}}
    <h1>Hello o</h1>


    <div class="d-flex gap-3 container-fluid">
        <form id="lga-form">
            <select title="select local government" name="lga_id" id="lga_id" >
                {{#lga_info}}
                <option value="none" selected disabled hidden>Select Local Government</option>
                <option value="{{lga_id}}">{{lga_name}}</option>
                {{else}}
                {{/lga_info}}
            </select>
            <button type="submit">Get Info</button>
        </form>
        <div class="loader"></div>
    </div>
    <p class="msg"></p>

    <div class="my-2">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATE</th>
                <tr>
            </thead>
            <tbody class="data">
            </tbody>
        </table>
    </div>
</main>