
/* loader */
.show {
    display: block !important;
}
.loader {
    border: 16px solid #F3F3F3; /* Light grey */
    border-top: 16px solid #555555; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .5s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
tr {
    display: flex;
    gap: 30px;
    text-align: center;
}